@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --color-white: #e1e1e6;
  --color-primary: #8257e5;
  --color-secondary: #fd951f;
  --color-background: #121214;
  --color-background-header: #202024;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: var(--color-background);

  font-family: "Roboto", sans-serif;
  color: var(--color-white);
}

/* 
  MENU
      */

header {
  background: var(--color-background-header);

  padding: 30px;
  border-bottom: 1px solid #333;

  text-align: center;
}

.links {
  text-align: center;
}

.links a {
  padding: 30px;

  color: var(--color-white);
  text-decoration: none;
}

.links a:hover {
  color: var(--color-primary);

  transition: color 500ms;
}

/* 
  SOBRE
       */

#about {
  text-align: center;
  padding: 32px;
}

#about img {
  border-radius: 50%;
  border: 3px solid var(--color-primary);
}

#about h1 {
  margin-top: 16px;

  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
  color: var(--color-secondary);
}

#about p {
  max-width: 400px;
  margin: 8px auto;

  font-size: 16px;
  line-height: 22px;
}

/* 
  TEC
     */

.tec ul {
  text-align: center;
}

.tec ul li {
  margin: 0 8px;
  display: inline;

  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  color: var(--color-primary);
}

/* 
  SOCIAL 
        */

#links-footer {
  margin-top: 20px;
}

#links-footer a {
  text-decoration: underline;
}
