@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
  --color-green: #50fa7b;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: rgb(11, 10, 13);
  font-family: 'Roboto', sans-serif;
  color: white;
}

header {
  padding: 30px;
  border-bottom: 1px solid #333;
  text-align: center;
}

.links {
  text-align: center;
}

.links a {
  padding: 30px;
  color: white;
  text-decoration: none;
  transition: color 500ms;
}

.links a:hover {
  color: var(--color-green);
}
